# Environment variables
.env
.env.local
.env.keys

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/
/playwright/.auth/

# Dependencies
node_modules/

# Test artifacts
*.png
*.jpg
*.mp4
*.webm
