name: Sample CI
on: [ push, pull_request ]

permissions:
  contents: read

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: '1.25.x'
      - name: Install Go dependencies
        run: |
          cd functions/Func_Jobs
          go get .
          cd ../job_history
          go get .
      - name: Build Go functions
        run: |
          go build -C functions/Func_Jobs
          go build -C functions/job_history
      - name: Use Node 22
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 22
          cache: 'yarn'
          cache-dependency-path: ui/pages/scalable-rtr-react/yarn.lock
      - name: Install dependencies
        run: yarn install
        working-directory: ui/pages/scalable-rtr-react
      - name: Build React app
        run: yarn build
        working-directory: ui/pages/scalable-rtr-react
      - name: Test the React app
        run: yarn test
        working-directory: ui/pages/scalable-rtr-react
