name: Rebuild sample
on:
  schedule:
    - cron: 0 0 * * 2
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    permissions:
      contents: write # for peter-evans/create-pull-request to create branch
      pull-requests: write # for peter-evans/create-pull-request to create a PR
    name: Rebuild
    if: github.repository == 'CrowdStrike/foundry-sample-scalable-rtr'
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 22
          cache: 'yarn'
          cache-dependency-path: ui/pages/scalable-rtr-react/yarn.lock
      - name: Run yarn install
        uses: borales/actions-yarn@2a18ac083c150a32c8ae27a3d68fc8f77b2ad4be # v5.3.0
        with:
          cmd: install
          dir: ui/pages/scalable-rtr-react
      - name: Build React app
        uses: borales/actions-yarn@2a18ac083c150a32c8ae27a3d68fc8f77b2ad4be # v5.3.0
        with:
          cmd: build
          dir: ui/pages/scalable-rtr-react
      - name: Create commit
        run: |
          git add .
          git commit -a -m "Rebuild with latest dependencies" || true
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: 'Rebuild with latest dependencies'
          title: 'Rebuild with latest dependencies'
          body: Weekly build with latest dependencies.
          labels: 'dependencies'
